* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, 'Space Mono';
  color: #FFF;
  text-align: left;
}

body {
  background-color: #6BBAA7;
}

.main-title, .title {
  font-family: 'Dancing Script', 'Lucida Handwriting', serif;
  font-weight: bold;
  
}

.main-title {
  text-align: center;
  font-size: 50px;
  color:  #6C648B;
  padding-top: 5%;
}

.title {
  font-size: 30px;
  padding: 1%;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th, td {
    border: 2px solid #6C648B;
    padding: 10px;
}

th {
    background-color: #6C648B;
    font-weight: bold;
    opacity: 0.75;
    font-size: 16px;
}

#group {
  margin: auto;
  padding: 5%;
}

.footer {
  background-color: #6C648B;
  height: 30vh;
}

.footer h2 {
  margin-top: 3%;
}
